.App {
  text-align: center;
  background-image: url('./chrome-logo.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  background: #fff;
  color: black;
}

.inputBase {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 5px 20px;
  border-radius: 4px;
  width: 60%;
}

.resultBar {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  border-radius: 5px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .inputBase {
    width: 100%;
    margin-left: 0;
  }

  .resultBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconContainer {
    justify-content: space-between;
    width: 100%;
  }

  .toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconButton {
    font-size: 1rem;
  }

  .button {
    margin: 0 5px;
  }
 
  .wheatButton {
    background-color: wheat !important;
    color: black !important;
  }
  
  .wheatButton:hover {
    background-color: #f5deb3 !important;
  }
  
  
}
